## 金融数据接口包
`Tushare`收费

`BaoStock`免费

### 第一步：导入`baostock`库，并登录

In [1]:
import baostock as bs
import pandas as pd

#### 登陆系统 ####
lg = bs.login()
# 显示登陆返回信息
print('login respond error_code:'+lg.error_code)
print('login respond  error_msg:'+lg.error_msg)

/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
Duplicate key in file PosixPath('/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/matplotlib/mpl-data/matplotlibrc'), line 400 ('axes.unicode_minus: True  # use Unicode for the minus symbol rather than hyphen.  See')
/home/tianhao/env4tiho_py36/lib/python3.6/site-packages/pandas/compat/__init__.py:85: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

login success!
login respond error_code:0
login respond  error_msg:success

### 第二步：接口配置

In [2]:
rs = bs.query_history_k_data("000001.SH", "date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,peTTM,pbMRQ,psTTM,pcfNcfTTM,isST",
                             start_date='2010-01-01', end_date='2019-12-31', frequency="d", adjustflag="3")
print('query_history_k_data respond error_code:'+rs.error_code)
print('query_history_k_data respond  error_msg:'+rs.error_msg)

query_history_k_data respond error_code:0
query_history_k_data respond  error_msg:success

### 第三步：打印结果为`pandas`的`Dataframe`

In [3]:
#### 打印结果集 ####
data_list = []
while (rs.error_code == '0') & rs.next():  # 获取一条记录，将记录合并在一起
    data_list.append(rs.get_row_data())
result = pd.DataFrame(data_list, columns=rs.fields)
result

,date,code,open,high,low,close,preclose,volume,amount,adjustflag,turn,tradestatus,pctChg,peTTM,pbMRQ,psTTM,pcfNcfTTM,isST
0,2010-01-04,sh.000001,3289.7500,3295.2790,3243.3190,3243.7600,3277.1390,10944792700,133773495628.0000,3,0.009476,1,-1.018538,,,,,0
1,2010-01-05,sh.000001,3254.4680,3290.5120,3221.4620,3282.1790,3243.7600,12611506600,161858172981.0000,3,0.010918,1,1.184395,,,,,0
2,2010-01-06,sh.000001,3277.5170,3295.8680,3253.0440,3254.2150,3282.1790,12365138400,158040114734.0000,3,0.010705,1,-0.851991,,,,,0
3,2010-01-07,sh.000001,3253.9910,3268.8190,3176.7070,3192.7760,3254.2150,12865282700,157229581955.0000,3,0.011138,1,-1.887988,,,,,0
4,2010-01-08,sh.000001,3177.2590,3198.9200,3149.0170,3195.9970,3192.7760,9837714700,121739882073.0000,3,0.008516,1,0.100890,,,,,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2426,2019-12-25,sh.000001,2980.4270,2988.2920,2970.6570,2981.8800,2982.6800,17565402880,189608562688.0000,3,0.501541,1,-0.026822,0.000000,0.000000,0.000000,0.000000,0
2427,2019-12-26,sh.000001,2981.2480,3007.3540,2980.3960,3007.3540,2981.8800,18244042496,195586080768.0000,3,0.520911,1,0.854293,0.000000,0.000000,0.000000,0.000000,0
2428,2019-12-27,sh.000001,3006.8510,3036.1120,3003.6300,3005.0350,3007.3540,24710277888,258118737920.0000,3,0.705538,1,-0.077111,0.000000,0.000000,0.000000,0.000000,0
2429,2019-12-30,sh.000001,2998.1680,3041.3960,2983.3430,3040.0230,3005.0350,24806652928,267382992896.0000,3,0.707919,1,1.164313,0.000000,0.000000,0.000000,0.000000,0
2430,2019-12-31,sh.000001,3036.3850,3051.6770,3030.5120,3050.1240,3040.0230,21742902272,226763993088.0000,3,0.619515,1,0.332267,0.000000,0.000000,0.000000,0.000000,0

### 第四步：结果输出并存入CSV

In [4]:
#### 结果集输出到csv文件 ####   
result.to_csv("history_A_stock_k_data.csv", index=False)
print(result)

#### 登出系统 ####
bs.logout()

            date       code       open       high        low      close  \
0     2010-01-04  sh.000001  3289.7500  3295.2790  3243.3190  3243.7600
1     2010-01-05  sh.000001  3254.4680  3290.5120  3221.4620  3282.1790
2     2010-01-06  sh.000001  3277.5170  3295.8680  3253.0440  3254.2150
3     2010-01-07  sh.000001  3253.9910  3268.8190  3176.7070  3192.7760
4     2010-01-08  sh.000001  3177.2590  3198.9200  3149.0170  3195.9970
...          ...        ...        ...        ...        ...        ...
2426  2019-12-25  sh.000001  2980.4270  2988.2920  2970.6570  2981.8800
2427  2019-12-26  sh.000001  2981.2480  3007.3540  2980.3960  3007.3540
2428  2019-12-27  sh.000001  3006.8510  3036.1120  3003.6300  3005.0350
2429  2019-12-30  sh.000001  2998.1680  3041.3960  2983.3430  3040.0230
2430  2019-12-31  sh.000001  3036.3850  3051.6770  3030.5120  3050.1240

       preclose       volume             amount adjustflag      turn  \
0     3277.1390  10944792700  133773495628.0000          3  0.009476
1     3243.7600  12611506600  161858172981.0000          3  0.010918
2     3282.1790  12365138400  158040114734.0000          3  0.010705
3     3254.2150  12865282700  157229581955.0000          3  0.011138
4     3192.7760   9837714700  121739882073.0000          3  0.008516
...         ...          ...                ...        ...       ...
2426  2982.6800  17565402880  189608562688.0000          3  0.501541
2427  2981.8800  18244042496  195586080768.0000          3  0.520911
2428  3007.3540  24710277888  258118737920.0000          3  0.705538
2429  3005.0350  24806652928  267382992896.0000          3  0.707919
2430  3040.0230  21742902272  226763993088.0000          3  0.619515

     tradestatus     pctChg     peTTM     pbMRQ     psTTM pcfNcfTTM isST
0              1  -1.018538                                            0
1              1   1.184395                                            0
2              1  -0.851991                                            0
3              1  -1.887988                                            0
4              1   0.100890                                            0
...          ...        ...       ...       ...       ...       ...  ...
2426           1  -0.026822  0.000000  0.000000  0.000000  0.000000    0
2427           1   0.854293  0.000000  0.000000  0.000000  0.000000    0
2428           1  -0.077111  0.000000  0.000000  0.000000  0.000000    0
2429           1   1.164313  0.000000  0.000000  0.000000  0.000000    0
2430           1   0.332267  0.000000  0.000000  0.000000  0.000000    0

[2431 rows x 18 columns]
logout success!